html,
body {
  margin: 0px;
  height: 100%;
}

td {
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
}

#bingotable {
  height: 700px;
}

#bingotable th {
  height: 100px;
}
#bingotable td {
  height: 100px;
  width: 100px;
}

#TableDiv {
}
